{% extends 'base_dashboard.html' %}

{% block content %}
    <div style="border: 1px solid #dddddd; padding: 15px 30px 15px 30px;border-radius: 5px;"
         class="form-group">

        <table id="notifications" class="display" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <td>ارجاع از</td>
                <td>تاریخ ارجاع</td>
                <td>نوع ارجاع</td>
                <td>حداکثر تاریخ انجام اقدامات</td>
                <td>ارجحیت</td>
                <td>عملیات</td>
            </tr>
            </thead>
            <tbody>
            {% for assign in notifications %}
                <tr id="{{ request.id }}">
                    {% comment %}                    class="{% if request.status == 'intro' %}
            warning
            {% endif %}">{% endcomment %}
                    <td>{{ assign.source.get_full_name }}</td>
                    <td>{{ assign.get_persian_issue_date }}</td>
                    <td>{{ assign.assign_type.local_name }}</td>
                    <td>{{ assign.get_persian_expire_date }}</td>
                    {#                    <td>{{ assign.request.id }}</td>#}
                    <td>{{ assign.priority }}</td>
                    <td><a href="{{ assign.assign_type.url }}{{ assign.id }}"> رسیدگی</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(window).ready(function () {
            $('#notifications').dataTable({
                bPaginate: false,
                bFilter: false,
                bInfo: false
            });
        });

    </script>
{% endblock %}