<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            دارایی ها و بدهی ها
        </div>
    </div>
    <div class="panel-body">
        <form id="asset_info_form" name="asset_info_form" method="post"
              action="{% url 'customer:asset_info' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="customer_id" value="{{ customer_info.pk }}">

            <div class="control-group">
                <div class="row">
                    <div class="col-xs-5" style="font-weight: bold;">
                        وجه نقد
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        صندوق
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="cash"
                               value="{{ customer_info.asset_info.cash }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        حسابهای بانکی
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="account"
                               value="{{ customer_info.asset_info.account }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" style="font-weight: bold;">
                        محل کسب
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        نوع تملک
                    </div>
                    <div class="col-xs-3">
                        <select style="width: 100%;" name="business_place_id"
                                value="{{ customer_info.asset_info.business_place_id }}">
                            {% for place in business_places %}
                                <option value="{{ place.id }}">{{ place.local_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-2">
                        ارزش
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="business_place_value"
                               value="{{ customer_info.asset_info.business_place_value }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-5" style="font-weight: bold;">
                        مطالبات
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        از اشخاص
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="individual_credit_amount" value="
{{ customer_info.asset_info.individual_credit_amount }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        از شرکتها و موسسات
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="company_credit_amount"
                               value="{{ customer_info.asset_info.company_credit_amount }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" style="font-weight: bold;">
                        سایر
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        ارزش کالا و اموال منقول
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="manghool_value"
                               value="{{ customer_info.asset_info.manghool_value }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        ارزش اموال غیر منقول
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="no_manghool_value"
                               value="{{ customer_info.asset_info.no_manghool_value }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        وسایط نقلیه
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="vehicles_value"
                               value="{{ customer_info.asset_info.vehicles_value }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5" style="font-weight: bold;">
                        بدهی ها
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        به اشخاص
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="individual_debit_amount"
                               value="{{ customer_info.asset_info.individual_debit_amount }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        به شرکت ها و موسسات
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="company_debit_amount"
                               value="{{ customer_info.asset_info.company_debit_amount }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        به بانک ها
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="bank_debit_amount"
                               value="{{ customer_info.asset_info.bank_debit_amount }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <button type="submit" style="width: 90%;" id="asset_info_button" class="btn btn-success">ثبت
                        اطلاعات
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>