<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            اطلاعات تماس
        </div>
    </div>
    <div class="panel-body">
        <form id="contact_info_form" name="customer_info_form" method="post"
              action="{% url 'customer:contact_info' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="customer_id" value="{{ customer_request.cif }}">

            <div class="control-group">
                <div class="row controls">
                    <div class="col-xs-2">
                        استان
                    </div>
                    <div class="col-xs-3">
                        <select class="province" depend="contact_town_id" name="province_id" style="width: 100%;"
                                value="{{ customer_info.contact_info.province_id }}">
                            {% for province in provinces %}
                                <option value="{{ province.id }}">
                                    {{ province.local_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-2">
                        شهرستان
                    </div>
                    <div class="col-xs-3">
                        <select name="town_id" value="{{ customer_info.contact_info.town_id }}" id="contact_town_id"
                                style="width: 100%;">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        تلفن
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="phone_number"
                               value="{{ customer_info.contact_info.phone_number }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        تلفن همراه
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="cell_number"
                               value="{{ customer_info.contact_info.cell_number }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        آدرس ایمیل
                    </div>
                    <div class="col-xs-3">
                        <input type="email" class="form-control" name="email"
                               value="{{ customer_info.contact_info.email }}"
                               required
                               data-validation-required-message="وارد کردن این فیلد الزامی است"
                                />
                    </div>
                    <div class="col-xs-2">
                        کد پستی
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="postal_code"
                               value="{{ customer_info.contact_info.postal_code }}"
                               minlength="10"
                               maxlength="10"
                               required
                                />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        آدرس محل سکونت
                    </div>
                    <div class="col-xs-9">
                        <textarea class="form-control"
                                  name="address"
                                  required
                                  data-validation-required-message="وارد کردن این فیلد الزامی است">{{ customer_info.contact_info.address }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <button type="submit" style="width: 90%;" id="contact_info_button" class="btn btn-success">ثبت
                        اطلاعات
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>