<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            اطلاعات اعضای هیات مدیره
        </div>
    </div>
    <div class="panel-body">
        <form id="board_of_director_form" name="board_of_director_form" method="post"
              action="{% url 'customer:board_of_director' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="company_id" value="{{ customer_request.cif }}">

            <div class="control-group">
                <div class="row controls">
                    <div class="col-xs-2">
                        کد ملی عضو هیات مدیره
                    </div>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" name="customer_id"
                               id="director_id"
                               required
                                />
                    </div>
                    <div class="col-xs-2">
                        مدرک شغلی
                    </div>
                    <div class="col-xs-3">
                        <select name="role_id"
                                id="role_id"
                                style="width: 100%;">
                            {% for b in board_of_directors %}
                                <option value="{{ b.id }}">{{ b.local_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        حق امضا
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" class="form-control" name="sign_permission" id="sign_permission"
                               value="True"
                                />
                    </div>
                    <div class="col-xs-2">
                        کفایت امضا
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" class="form-control" name="sign_enough" id="sign_enough" value="True"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-2">
                        اعتبار امضا
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="sign_expire_date" id="sign_expire_date"
                               required
                                />
                        <span id="sign_expire_date_span"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <button type="submit" style="width: 90%;" id="board_of_director_button" class="btn btn-success">ثبت
                        اطلاعات
                    </button>
                </div>
            </div>

        </form>

    </div>
    <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
        <div class="col-xs-1"></div>
        <div class="col-xs-10" style="border: solid 1px #665555; border-radius: 5px; padding-bottom: 10px; ">
            <table id="director_table" class="display">
                <thead>
                <td>کد ملی</td>
                <td>نام</td>
                <td>نام خانوادگی</td>
                <td>سمت</td>
                <td>حق امضا</td>
                <td>کفایت امضا</td>
                <td></td>
                </thead>
                <tbody>

                {% for director in customer_info.director_set.all %}
                    <tr>
                        <td>
                            {{ director.customer.customer_code }}
                        </td>
                        <td>
                            {{ director.customer.name }}

                        </td>
                        <td>
                            {{ director.customer.last_name }}
                        </td>
                        <td>
                            {{ director.role.local_name }}
                        </td>
                        <td>
                            {% if director.sign_permission %}
                                <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if director.sign_enough %}
                                <span class="glyphicon glyphicon-ok" style="color:green;"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" class="edit_director"  sign_expire_date="{{ director.get_persian_sign_expire_date }}"
                               sign_permission="{{ director.sign_permission }}" sign_enough="{{ director.sign_enough }}"
                               role_id="{{ director.role.id }}" customer_code="{{ director.customer.customer_code }}">ویرایش</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>