{% extends 'base_dashboard.html' %}

{% block content %}
    <div class="panel-group">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    چک لیست درخواست شماره {{ request_id }}
                </div>
            </div>
            <div class="panel-body">
                {% if not readonly %}
                    <form action="{% url 'grant:check_list' request_id %}" method="post">
                    {% csrf_token %}
                {% endif %}
                <div class="row">
                    {% for instance in checkListItems %}

                        <div class="col-xs-6">
                            <input type="checkbox" name="{{ instance.id }}"
                                    {% if instance.checked %} checked="checked" {% endif %}
                                    {% if  readonly %} disabled="disabled" {% endif %}
                                    >
                            {{ instance.item.local_name }}
                            </input>
                        </div>

                    {% endfor %}
                </div>
                {% if not readonly %}
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center;">
                            <button type="submit" style="width: 90%;" id="bank_income_info_button"
                                    class="btn btn-success">
                                ثبت چک لیست
                            </button>
                        </div>
                    </div>

                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {#    <div style="border: 1px solid #dddddd; padding: 15px 30px 15px 30px;border-radius: 5px;"#}
    {#         class="form-group">#}
    {#      #}
    {#    </div>#}
{% endblock %}