{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div style="border: 1px solid #dddddd;border-radius: 5px;"
         class="form-group">
        <form method="get" action="{% url 'guarantor:register' customer_request.id %}">
            <div class="row"
                 style="background-color: #f5e79e; margin-bottom: 0px; margin-left: 0px;margin-right: 0px; padding-bottom: 20px;">
                <div class="row" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px; text-align: center">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-2">
                        کد ملی
                    </div>
                    <div class="col-xs-2">
                        <input type="number" name="customer_id" id="customer_id" class="form-control"/>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <button type="submit" style="width: 90%;" id="job_info_button" class="btn btn-success">
                            بارگذاری مشتری
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row rose-progress-bar" style="padding-top:0px;padding-bottom:15px; margin:0px;">

            <div class="col-xs-3
            {% if customer %}
            completed
            {% else %}
            pending
            {% endif %}
            rose-progress-bar-cell" id="customer_info">
                <div class="row">
                    <div class="col-xs-8">
                        اطلاعات شخصی
                    </div>
                    <div id="customer_info_state" class="col-xs-1">
                        <span id="failed" class="glyphicon glyphicon-remove" style="color: red;
                                 display: none;

                                "></span>
                        <span id="ok" class="glyphicon glyphicon-ok" style="color: green;
                                {% if  not customer %}
                                    display: none;
                                {% endif %}
                                "></span>
                    </div>
                    <div id="customer_info_loader" class="col-xs-1">

                    </div>
                </div>
            </div>
            <div class="col-xs-3

             {% if customer.contact_info %}
                completed
             {% else %}
                pending
             {% endif %}

             rose-progress-bar-cell" id="contact_info">
                <div class="row">
                    <div class="col-xs-8">
                        اطلاعات تماس
                    </div>
                    <div id="contact_info_state" class="col-xs-1">
                        <span id="failed" class="glyphicon glyphicon-remove" style="color: red;display: none;"></span>
                        <span id="ok" class="glyphicon glyphicon-ok" style="color: green;
                                {% if not customer.contact_info %}
                                    display: none;"></span>
                                {% endif %}
                    </div>
                    <div id="contact_info_loader" class="col-xs-1">
                    </div>
                </div>
            </div>
            <div class="col-xs-3
             {% if customer.job_info %}
                completed
             {% else %}
                pending
             {% endif %}
             rose-progress-bar-cell" id="job_info">
                <div class="row">
                    <div class="col-xs-8">
                        اطلاعات شغلی
                    </div>
                    <div id="job_info_state" class="col-xs-1">
                        <span id="failed" class="glyphicon glyphicon-remove" style="color: red;display: none;"></span>
                        <span id="ok" class="glyphicon glyphicon-ok" style="color: green;
                                {% if not customer.job_info %}
                                    display: none;
                                {% endif %}
                                "></span>
                    </div>
                    <div id="job_info_loader" class="col-xs-1">
                    </div>
                </div>
            </div>
            <div class="col-xs-3
             {% if customer.bank_income_info %}
             completed
             {% else %}
             pending
             {% endif %}

             rose-progress-bar-cell" id="bank_income_info">
                <div class="row">
                    <div class="col-xs-9">
                        درآمد
                    </div>
                    <div id="bank_income_state" class="col-xs-1">
                        <span id="failed" class="glyphicon glyphicon-remove" style="color: red;display: none;"></span>
                        <span id="ok" class="glyphicon glyphicon-ok" style="color: green;
                                {% if not customer.bank_income_info %}
                                    display: none;
                                {% endif %}
                                "></span>
                    </div>
                    <div id="bank_income_loader" class="col-xs-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="next_level" style="display: none; padding-bottom: 1%;">
            <form action="{% url 'guarantor:register' customer_request.id  %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="customer_id" value="{{ customer_id }}" />
                <div class="col-xs-12" style="text-align: center;">
                    <button type="submit" style=" width: 90%;" id="register_guarantor" class="btn btn-success">
                        اکنون با کلیک بر روی این بخش می توانید این مشتری را به عنوان ضامن درخواست وام
                        "{{ customer_request.id }}" انتخاب نمایید
                    </button>
                </div>
            </form>
        </div>
        {#        <form method="post">#}
        <div id="submit_forms" class="form-group">
            <div class="panel-group" style="padding-left: 30px;padding-right: 30px;padding-bottom: 15px;">
                {% if customer_request.type == 'haghighi' %}
                    <div class="rose-submit-container" id="customer_info_container">
                        {% include '_guarantor_customer_info.html' %}
                    </div>
                    <div class="rose-submit-container collapse" id="contact_info_container">
                        {% include '_guarantor_contact_info.html' %}
                    </div>
                    <div class="rose-submit-container collapse" id="job_info_container">
                        {% include '_guarantor_job_info.html' %}
                    </div>
                    <div class="rose-submit-container collapse" id="bank_income_info_container">
                        {% include '_guarantor_bank_income_info.html' %}
                    </div>
                    </div>
                {% else %}
                {% endif %}
        </div>

        {#        </form>#}
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        function check_for_showing_next_level() {
            if ($('.pending').length == 0) {
                $('#next_level').show('slow');

            }
        }
        $(window).ready(function () {

            {% if customer_id != None and message == None %}
                $('#customer_id').val('{{ customer_id }}');
                $('#customer_id').attr('disabled', 'disabled');
            {% endif %}


            {% if message %}
                alertBar('{% trans message %}');
            {% endif %}

            check_for_showing_next_level();


            $('#birth_date,#birth_date_span').persianDatepicker();
            $('.rose-progress-bar-cell').click(function () {
                var cell = $(this)
                var container = $('#' + $(this).attr('id') + '_container');
                $('.rose-progress-bar-cell').removeClass('selected');
                $(this).addClass('selected');
                $(".rose-submit-container").hide();
                container.show();
            });

            /* form submission ajax */
            $('#submit_forms form').find('input,select,textarea').not('[type=submit]').jqBootstrapValidation({
                submitSuccess: function ($form, event) {
                    var form_id = $form.attr('id');
                    var form_common = form_id.substr(0, form_id.lastIndexOf('_form'));
                    var loader_id = form_common + '_loader';
                    var state_id = form_common + '_state';
                    $('#' + loader_id).html('<img src=\'{% static "image/ajax-loader.gif" %}\' />');
                    var form = $form;
                    $.post(form.attr('action'), form.serialize(),
                            function (data, state) {
                                if (state == 'success') {
                                    if (data == 'True') {

                                        $('#' + state_id + ' #failed').hide();
                                        $('#' + state_id + ' #ok').show();
                                        $('#' + state_id).parent().parent().removeClass('pending').addClass('completed')
                                        check_for_showing_next_level();
                                    }
                                    else {
                                        $('#' + state_id + ' #failed').show();
                                        $('#' + state_id + ' #ok').hide();
                                    }
                                } else {
                                    alert('خطا در برقراری ارتباط با سرور. لطفا مجددا تلاش کنید');
                                }
                                $('#' + loader_id).empty();
                            });


                    event.preventDefault();
                }

            });

            $('#loan_type').change(function () {
                var depend_id = '#' + $(this).attr('depend');
                var loan_type_id = $(this).val();
                $.ajax({
                    url: function () {
                        return '{% url 'config:refund_type' '' %}' + loan_type_id
                    }()
                }).done(function (data) {
                    var result = JSON.parse(data);
                    $(depend_id).empty();
                    for (var _item in result) {
                        var item = result[_item]
                        if ((typeof (item) == 'object')) {
                            $(depend_id).append($('<option>', {
                                value: item.pk,
                                text: item.fields.local_name
                            }));
                        }
                    }
                })
            })

            $('.province').change(function () {
                var depend_id = '#' + $(this).attr('depend');
                var province_id = $(this).val();
                $.ajax({
                    url: function () {
                        return '{% url 'config:town' ''%}' + province_id;
                    }(),
                    complete: function () {
                        {#                        $('#request_description_loader').empty();#}
                    }

                }).done(function (data) {
                    var result = JSON.parse(data);
                    $(depend_id).empty();
                    for (var _item in result) {
                        var item = result[_item]
                        if ((typeof (item) == 'object')) {
                            $(depend_id).append($('<option>', {
                                value: item.pk,
                                text: item.fields.local_name
                            }));
                        }
                    }
                    var value = $(depend_id).attr('value');
                    console.log(depend_id);
                    if (value) {
                        $(depend_id).val(value);
                        $(depend_id).change();
                    }

                });
            });

            $('select').each(function () {
                var value = $(this).attr('value');
                if (value) {
                    $(this).val(value);
                    $(this).change();
                }
            });


            var selected_banks = [
                {% for bank in  customer_info.bank_income_info.banks.all %}
                    '{{  bank.id }}',
                {% endfor %}
            ];

            $('[name=banks]').not('[type!=checkbox]').each(function () {

                var item = $(this);
                var item = $(this);
                var found = $.inArray(item.val(), selected_banks) > -1;
                if (found) {
                    item.attr('checked', 'checked');
                }
            });

            var selected_vasighes = [
                {% for vasighe in  customer_info.bank_income_info.vasighe_types.all %}
                    '{{  vasighe.id }}',
                {% endfor %}
            ];

            $('[name=vasighe_types]').not('[type!=checkbox]').each(function () {

                var item = $(this);
                var found = $.inArray(item.val(), selected_vasighes) > -1;
                if (found) {
                    item.attr('checked', 'checked');
                }


            });


        })
        ;
    </script>
{% endblock %}
